.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.input-group-text {
    font-weight: bolder;
    padding: 0;
    display: block;
    background-color: white;
    border: 0;

}

i {
    margin-top: 5px;
}



